{% extends "base.html" %}
{% block title %}Calendar{% endblock %}
{% block content %}

<style>
    table{
        width:85%;
        border:20px;
        right:20%;
    }
    th{
        border:1px;
        border-color: black;
    }
    
</style>

    <a class="btn btn-primary btn-sm" href="create" role="button" style="width:150px; font-size:18px; margin-left: 93%; margin-top: 0.3%;">Create Event</a> &emsp;
    <br>
    <br>
    <center><table class="centered thick-border">
        <tr>
                <th>Name &nbsp;</th>
                <th>Description &nbsp;</th>
                <th>Month &nbsp;</th>
                <th>Day &nbsp;</th>
                <th>Year &nbsp;</th>
        </tr>
        {% for k in calendar%}
                <tr>
                        <td><strong>{{ k.name }}</strong></td>
                        &nbsp;
                        <td>{{ k.description }}</td>
                        &nbsp;
                        <td>{{ k.month }}</td>
                        &nbsp;
                        <td>{{ k.day }}</td>
                        &nbsp;
                        <td>{{ k.year}}</td>
                </tr>
        {% endfor %}
    </table></center>

{% endblock %}