{% extends "base.html" %}
{% block title %}Register Page{% endblock %}
{% block content %}

<br>

<body>
	<form action ="/register" style="width:500px; margin:auto" method="POST">
	<div class="form-group">
		<h2>Register</h2>
        <input type="text" name="name" id="name" class="form-control" placeholder="Name">
	<br>
        <input type="text" name="birthday" id="birthday" class="form-control" placeholder="Birthday (MMDDYYYY)">
	<br>
		<input type="text" name="username" id="username" class="form-control" placeholder="Username">
	<br>
		<input type="text" name="password" id="password" class="form-control" placeholder="Password">
	<br>

	<center> {{error_message}} </center>

	<br>
	<center><button type="register" class="btn btn-primary" style="width:500px; margin:auto">Register</button></center>
	</form>
</body> 

{% endblock %}