<!doctype html>
<html>
<link rel="stylesheet" type="text/css" href=" {{url_for('static', filename='base.css')}}">

<body>
    <div class="center">
        <h1>Verify</h1>
        <form method = "post">
            <div class="txt_field"> 
                <input type="text" id="verify" name="verify" required> 
                <span></span>
                <label>Verification Code</label>
            </div>
            <input type="submit" value="Verify">
        </form>
    <div>
    <div class= "error">
        <center> {{error_message}} </center>
    </div>
</body>
</html>